---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import "../../styles/global.css";
const notes = await getCollection("notes");
---

<MainLayout title="Notes">
  <ul>
    {
      notes.map((note) => (
        <li>
          <a href={`/notes/${note.slug}`}>{note.data.title}</a>
          <time datetime={note.data.date.toISOString()}>
            {note.data.date.toDateString()}
          </time>
        </li>
      ))
    }
  </ul>
</MainLayout>
