:root {
  --main-accent-color: #663399;
}

@font-face {
  font-family: "Alfa Slab One";
  src: local("Alfa Slab One"), url("AlfaSlabOne-Regular.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alfa Slab One", cursive;
  font-size: 32px;
}

.slab {
  font-family: "Alfa Slab One", cursive;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

header {
  grid-area: 1 / 1 / 2 / 4;
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.25rem solid var(--main-accent-color);
  font-family: "Alfa Slab One", cursive;
}

aside {
  grid-area: 2 / 1 / 3 / 2;
}

main {
  grid-area: 2 / 2 / 3 / 4;
}

#microblog {
  grid-area: 3 / 1 / 4 / 4;
  padding-top: 2rem;
  border-top: 0.25rem solid var(--main-accent-color);
}

#microblog > article {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 0.125rem solid var(--main-accent-color);
}

time {
  font-family: "Alfa Slab One", cursive;
}

footer {
  grid-area: 4 / 1 / 5 / 4;
  margin-bottom: 2rem;
  padding-top: 2rem;
  border-top: 0.25rem solid var(--main-accent-color);
}
