---
import { getCollection } from "astro:content";
import Tag from "../components/Tag.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
// 1. Generate a new path for every collection note
export async function getStaticPaths() {
  const notes = await getCollection("notes");
  return notes.map((note) => ({
    params: { slug: note.slug },
    props: { note },
  }));
}
// 2. When it's time to render, you can get the note directly from the prop
const { note } = Astro.props;
const { Content } = await note.render();

const {
  data: { title, date, lastmod, tags },
} = note;
---

<MainLayout title={title}>
  <Content />

  {
    tags.length > 0 && (
      <p>
        Tags:{" "}
        {tags.map((tag: any, i: number) => (
          <Tag tag={tag} i={i} />
        ))}
      </p>
    )
  }
</MainLayout>
