---
import "../layouts/MainLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title="About">
  <p>
    I'm a <mark>Senior Software Engineer</mark> and <mark
      >full-stack web developer</mark
    >
    at <a href="https://www.codecraftworks.com/"
      ><img
        src="/img/codey.svg"
        alt="Codey, the Codecraft Works mascot"
        width="24px"
        height="24px"
        class="inline"
      />
      Codecraft Works</a
    >, where I lead software development on an education technology platform.
  </p>
  <p>
    I am graduate of <img
      src="/img/ucf.svg"
      width="24px"
      height="24px"
      class="inline"
      alt="UCF University of Central Florida"
    /> (Go Knights!) but I consider myself a life-long learner, technologist, and
    tech early-adopter. I currently do work in Angular, Firebase, Google Cloud, ASP.NET,
    AWS, and STEM Education. I dabble in PHP (I used to primarily work in Wordpress
    and then Drupal), Python, and Java. I am also an organizer for <a
      href="https://gdg.community.dev/gdg-space-coast/"
      >Google Developer Group Space Coast</a
    >
  </p>
</MainLayout>
