---
import "../layouts/MainLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title="About">
  <p>
    I'm a <mark>Director of Engineering</mark> and <mark
      >full-stack web developer</mark
    >
    at <a href="https://www.codecraftworks.com/" target="_blank"
      ><img
        src="/img/codey.svg"
        alt="Codey, the Codecraft Works mascot"
        width="24px"
        height="24px"
        class="inline"
      />
      Codecraft Works</a
    >, where I lead software development on an education technology platform.
  </p>
  <p>
    I am graduate of <img
      src="/img/ucf.svg"
      width="24px"
      height="24px"
      class="inline"
      alt="UCF University of Central Florida"
    /> (Go Knights!) but I consider myself a life-long learner, technologist, and
    tech early-adopter. I currently do work in Astro, Firebase, Google Cloud, .NET,
    AWS, and STEM Education.I am also an organizer for <a
      href="https://gdg.community.dev/gdg-space-coast/"
      target="_blank">Google Developer Group Space Coast</a
    > and <a href="https://space-coast.dev" target="_blank">Space Coast Devs</a> and
    help the local Mesh community by running <a
      href="https://scmesh.org/"
      target="_blank">Space Coast Mesh</a
    > website. I also volunteer as a coach for a 6th-12th grade Cyber Security team
    through the
    <a href="https://codecraftfoundation.org/" target="_blank"
      >Codecraft Foundation</a
    >
    , called <a href="https://c11y.org/" target="_blank">c11y</a>.
  </p>
</MainLayout>
