---
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8" />
    <title>Gil Creque</title>
    <meta name="description" content="Technologist and Developer" />
    <meta name="author" content="Gil Creque" />

    <!-- Google Site Verification
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta
      name="google-site-verification"
      content="baTB5HjY84P_avk0rfsFGUFu6_CqqmyNZUh13QCsLM8"
    />

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://secure.gravatar.com/blavatar/88bdddbfd6da295eb21536526cc2fdaf?s=32"
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://secure.gravatar.com/blavatar/88bdddbfd6da295eb21536526cc2fdaf?s=32"
      sizes="16x16"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://secure.gravatar.com/blavatar/88bdddbfd6da295eb21536526cc2fdaf?s=114"
    />
  </head>
  <body
    class="bg-violet-50 dark:bg-stone-800 text-stone-800 dark:text-violet-50"
  >
    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <header class="flex justify-center gap-4 items-center">
      <p>Hello, I'm</p>
      <h1>Gil Creque</h1>
      <img
        src="avatar-pink-tv.jpeg"
        alt="Gil Creque"
        height="400px"
        width="400px"
        class="rounded-full"
      />
    </header>
    <aside>
      <h2>Social Links</h2>
      <p>You can find me around the web:</p>
      <ul>
        <li>
          <a href="https://discord.gg/TbQEhP6HPr">Build and Run</a>, a free and
          public Discord for the tech and creative community
        </li>
        <li>
          I try to share posts through <a href="https://gilcreque.blog/"
            >my micro.blog</a
          > and I also recently joined Mastodon and you can <a
            href="https://hachyderm.io/@gilcreque">find me tooting over there</a
          >
        </li>
      </ul>
    </aside>
    <main>
      <p>
        I'm a Senior Software Engineer and full-stack web developer at <a
          href="https://www.codecraftworks.com/">Codecraft Works</a
        >, where I lead software development working on an <a
          href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1831060&HistoricalAwards=false"
          >NSF backed</a
        > education technology platform.
      </p>
      <p>
        I am graduate of UCF (Go Knights!) but I consider myself a life-long
        learner, technologist, and tech early-adopter. I currently do work in
        Angular, Firebase, Google Cloud, ASP.NET, AWS, and STEM Education. I
        dabble in PHP (I used to primarliy work in Wordpress and then Drupal),
        Python, and Java.
      </p>
    </main>
    <footer>Powered by Astro and hosted on Github Pages</footer>
  </body>
</html>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
