---
import WiggleWrap from "./WiggleWrap.astro";
---

<style>
  li {
    list-style-type: none;
  }
</style>

<aside id="footer-menu" class="w-1/2 md:w-fit md:pl-5">
  <ul class="whitespace-nowrap">
    <li>
      <img
        src="/img/avatar-pink-tv-ghibli-small.png"
        width="24px"
        height="24px"
        class="inline mr-1"
        alt="About"
      />
      <a href="/about">About </a>
    </li>
    <li>
      <img
        src="/img/colophon.svg"
        width="24px"
        height="24px"
        class="inline mr-1"
        alt="Colophon"
      />
      <a href="/colophon">Colophon </a>
    </li>
    <li class="hidden md:block">
      <a href="/notes"
        ><img
          src="/img/plant.svg"
          width="24px"
          height="24px"
          class="inline mr-1"
          alt="Plant Icon"
        />
        Notes</a
      >
    </li>
    <li class="hidden md:block">
      <a href="/topics"
        ><img
          src="/img/sticky-note.svg"
          width="24px"
          height="24px"
          class="inline mr-1"
          alt="Topics Icon"
        />
        Topics</a
      >
    </li>
    <li class="hidden md:block">
      <a href="/blog"
        ><img
          src="/img/microblog.svg"
          width="24px"
          height="24px"
          class="inline mr-1"
          alt="Blog Icon"
        />
        Blog</a
      >
    </li>
    <li>
      <a href="/tags"
        ><img
          src="/img/tags.svg"
          width="24px"
          height="24px"
          class="inline mr-1"
          alt="Tags Icon"
        />
        Tags</a
      >
    </li>
    <li>
      <span class="mr-1">🌯</span><a href="/chipotle">Chipotle</a>
    </li>
  </ul>
</aside>
