---
import WiggleWrap from "./WiggleWrap.astro";
---

<style>
  li {
    list-style-type: none;
  }
</style>

<aside id="footer-menu" class="w-1/2 md:w-fit pl-5">
  <ul>
    <li>
      <img
        src="/img/avatar-pink-tv.jpeg"
        width="24px"
        height="24px"
        class="inline mr-1"
        alt="About"
      />
      <a href="/about">About </a>
    </li>
    <li>
      <img
        src="/img/colophon.svg"
        width="24px"
        height="24px"
        class="inline mr-1"
        alt="Colophon"
      />
      <a href="/colophon">Colophon </a>
    </li>
    <li>
      <a href="/notes"
        ><img
          src="/img/plant.svg"
          width="24px"
          height="24px"
          class="inline mr-1"
          alt="Plant Icon"
        />
        Notes</a
      >
    </li>
    <li>
      <a href="/posts"
        ><img
          src="/img/microblog.svg"
          width="24px"
          height="24px"
          class="inline mr-1"
          alt="Micro.blog Icon"
        />
        Posts</a
      >
    </li>
    <li>
      <span class="emoji-color mr-1">🌯</span><a href="/chipotle">Chipotle</a>
    </li>
  </ul>
</aside>
