---
import WiggleWrap from "./WiggleWrap.astro";
---

<style>
  li {
    list-style-type: none;
  }
</style>

<aside id="footer-menu">
  <ul>
    <li>
      <a href="/colophon"
        ><img
          src="/img/wrench.svg"
          width="24px"
          height="24px"
          class="inline"
          alt="Colophon"
        />{" "}Colophon
      </a>
    </li>
    <li>
      <a href="/notes">
        <img
          src="/img/plant.svg"
          width="24px"
          height="24px"
          class="inline"
          alt="Plant Icon"
        />{" "}Notes</a
      >
    </li>
    <li>
      <span class="emoji-color">🌯</span><a href="/chipotle">{" "}Chipotle</a>
    </li>
  </ul>
</aside>
