---
import { getCollection } from "astro:content";
import { formatPublishDate } from "../lib/utils";
import "../styles/global.css";
import Tag from "./Tag.astro";
import WiggleWrap from "./WiggleWrap.astro";
const notes = await getCollection("notes", ({ data }) => {
  return data.draft !== true;
});
---

<style>
  li {
    list-style-type: none;
  }
</style>

<aside id="notes" class="mx-2">
  <h2>
    <img
      src="/img/plant.svg"
      width="24px"
      height="24px"
      class="inline"
      alt="Plant Icon"
    />{" "}<WiggleWrap>Latest Notes</WiggleWrap>
  </h2>
  <ul>
    {
      notes
        .sort(
          (a, b) =>
            (new Date(b.data.lastmod) as any) -
            (new Date(a.data.lastmod) as any)
        )
        .slice(0, 20)
        .map((note) => (
          <li>
            <a href={`/${note.slug}`}>
              <img
                src="/img/worm.svg"
                width="24px"
                height="24px"
                class="inline"
                alt="Worm Icon"
              />{" "}
              {note.data.title}
            </a>
          </li>
        ))
    }
  </ul>
</aside>
