---
import WiggleWrap from "./WiggleWrap.astro";
---

<style>
  li {
    list-style-type: none;
  }
</style>

<aside id="social-links">
  <ul class="flex flex-wrap items-center justify-start">
    <li class="me-4">
      <a href="/rss.xml"
        ><img
          src="img/rss.svg"
          width="24px"
          height="24px"
          class="inline"
          alt="RSS Feed"
        />
      </a>
    </li>
    <li class="me-4">
      <a href="https://www.linkedin.com/in/gildotdev/"
        ><img
          src="img/linkedin.svg"
          width="24px"
          height="24px"
          class="inline"
          alt="LinkedIn Profile"
        />
      </a>
    </li>
    <li class="me-4">
      <a href="https://space-coast.dev/discord"
        ><img
          src="img/discord.svg"
          width="24px"
          height="24px"
          class="inline"
          alt="Build&&Run / Space Coast Devs, a free and public Discord for the tech and creative community"
        />
      </a>
    </li>
    <li class="me-4">
      <a href="https://gilcreque.blog/">
        <img
          src="img/microblog.svg"
          width="24px"
          height="24px"
          class="inline"
          alt="I try to share posts through my micro.blog"
        />
      </a>
    </li>
    <li class="me-4">
      <a rel="me" href="https://hachyderm.io/@gilcreque">
        <img
          src="img/mastodon.svg"
          width="24px"
          height="24px"
          class="inline"
          alt="I joined Mastodon and you can find me tooting over there"
        /></a
      >
    </li>
    <li class="me-4">
      <a rel="me" href="https://bsky.app/profile/gil.dev">
        <img
          src="img/bluesky.svg"
          width="24px"
          height="24px"
          class="inline"
          alt="I also recently joined Bluesky and you can find me posting there too"
        /></a
      >
    </li>
  </ul>
  <p>
    &copy; {new Date().getFullYear()} Gil Creque. All rights reserved.
  </p>
</aside>
