---
import WiggleWrap from "./WiggleWrap.astro";
---

<style>
  li {
    list-style-type: none;
  }
</style>

<aside id="social-links" class="mx-2 mb-5">
  <h2>
    <img
      src="img/link.svg"
      width="24px"
      height="24px"
      class="inline"
      alt="Link Icon"
    />{" "}<WiggleWrap>Social Links</WiggleWrap>
  </h2>
  <p>You can find me around the web:</p>
  <ul>
    <li>
      <a href="https://space-coast.dev/discord"
        ><img
          src="img/discord.svg"
          width="24px"
          height="24px"
          class="inline"
          alt="Discord Logo"
        />
        Build&&Run / Space Coast Devs</a
      >, a free and public Discord for the tech and creative community
    </li>
    <li>
      <img
        src="img/microblog.svg"
        width="24px"
        height="24px"
        class="inline"
        alt="Micro.blog Logo"
      /> I try to share posts through <a href="https://gilcreque.blog/"
        >my micro.blog</a
      >
    </li>
    <li>
      <img
        src="img/mastodon.svg"
        width="24px"
        height="24px"
        class="inline"
        alt="Mastodon Logo"
      /> I joined Mastodon and you can <a
        rel="me"
        href="https://hachyderm.io/@gilcreque">find me tooting over there</a
      >
    </li>
    <li>
      <img
        src="img/bluesky.svg"
        width="24px"
        height="24px"
        class="inline"
        alt="Bluesky Logo"
      /> I also recently joined Bluesky and you can <a
        rel="me"
        href="https://bsky.app/profile/gil.dev">find me posting there too</a
      >
    </li>
    <li>
      <img
        src="img/plant.svg"
        width="24px"
        height="24px"
        class="inline"
        alt="Plant Icon"
      />{" "}Read
      <a href="/notes">
        {" "}all the notes
      </a>{" "}from my digital garden{" "}
    </li>
  </ul>
</aside>
