<aside class="mx-2">
  <h2>Social Links</h2>
  <p>You can find me around the web:</p>
  <ul>
    <li>
      <a href="https://discord.gg/TbQEhP6HPr"
        ><img
          src="img/discord.svg"
          width="24px"
          height="24px"
          class="inline"
          alt="Discord Logo"
        />
        Build and Run</a
      >, a free and public Discord for the tech and creative community
    </li>
    <li>
      <img
        src="img/microblog.svg"
        width="24px"
        height="24px"
        class="inline"
        alt="Micro.blog Logo"
      /> I try to share posts through <a href="https://gilcreque.blog/"
        >my micro.blog</a
      >
    </li>
    <li>
      <img
        src="img/mastodon.svg"
        width="24px"
        height="24px"
        class="inline"
        alt="Mastodon Logo"
      /> I also recently joined Mastodon and you can <a
        rel="me"
        href="https://hachyderm.io/@gilcreque">find me tooting over there</a
      >
    </li>
  </ul>
</aside>
