---
const { tag, i } = Astro.props;
---

<style>
  a,
  a:visited {
    background-color: var(--astro-code-color-background);
    color: var(--main-accent-color) !important;
    padding: 0.25rem;
    margin: 0.125rem;
    border-radius: 0.5rem;
    border-color: var(--astro-code-color-background);
    border-width: 1px;
    white-space: nowrap;
    text-decoration: none !important;
  }

  a:hover {
    border-color: var(--main-accent-color);
    text-decoration: none !important;
  }
</style>
<a href="" class={`tag`}>{tag}</a>
