---
const { title, isHome = false } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import LatestNotes from "../components/LatestNotes.astro";
import SocialLinks from "../components/SocialLinks.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8" />
    <title>Gil Creque - {title}</title>
    <ViewTransitions />
    <meta name="description" content="Technologist and Developer" />
    <meta name="author" content="Gil Creque" />

    <!-- Google Site Verification
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta
      name="google-site-verification"
      content="baTB5HjY84P_avk0rfsFGUFu6_CqqmyNZUh13QCsLM8"
    />

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/img/avatar-pink-tv.jpeg"
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/img/avatar-pink-tv.jpeg"
      sizes="16x16"
    />
    <link rel="apple-touch-icon-precomposed" href="/img/avatar-pink-tv.jpeg" />
  </head>
  <body class="dark:bg-stone-800 dark:text-violet-50 max-w-3xl mx-auto">
    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <header class="flex flex-col md:flex-row px-2 w-screen max-w-3xl">
      {
        isHome ? (
          <>
            <img
              src="/img/avatar-pink-tv.jpeg"
              alt="Photo of Gil Creque in a pink TV"
              height="48px"
              width="48px"
              class="rounded-full md:mb-8"
            />
            <p class="slab mb-0 pb-0 md:mb-8">&nbsp;Hello, I'm&nbsp;</p>
            <h1>Gil Creque</h1>
          </>
        ) : (
          <>
            <a href="/">
              <img
                src="/img/home.svg"
                alt="Home"
                height="48px"
                width="48px"
                class="md:mb-8"
              />
            </a>
            <h1 class="grow text-center">{title}</h1>
          </>
        )
      }
    </header>
    <main class="px-2 w-screen max-w-3xl">
      <slot />
      <!-- your content is injected here -->
    </main>

    {
      isHome ? (
        <>
          <SocialLinks />
          <LatestNotes />
        </>
      ) : null
    }

    <Footer />
  </body><!-- End Document
    ––––––––––––––––––––––––––––––––––––––––––––––––––
-->
</html>
