---
const {
  title,
  isPost = false,
  frontmatter,
  description,
  canonicalURL,
} = Astro.props;
const defaultDescription = "Technologist and Developer";
import Footer from "../components/Footer.astro";
import WiggleWrap from "../components/WiggleWrap.astro";
import avatar from "../assets/avatar-pink-tv.jpeg";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html
  lang="en"
  class="bg-no-repeat bg-cover bg-gradient-to-r from-indigo-950 to-emerald-950 text-violet-50"
>
  <head>
    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8" />
    <title>Gil Creque - {title || frontmatter?.title}</title>
    <meta
      name="description"
      content={description || frontmatter?.description || defaultDescription}
    />
    <meta name="author" content="Gil Creque" />

    <link rel="canonical" href=`${canonicalURL}` />

    <!-- Google Site Verification
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta
      name="google-site-verification"
      content="baTB5HjY84P_avk0rfsFGUFu6_CqqmyNZUh13QCsLM8"
    />

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/img/avatar-pink-tv.jpeg"
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/img/avatar-pink-tv.jpeg"
      sizes="16x16"
    />
    <link rel="apple-touch-icon-precomposed" href="/img/avatar-pink-tv.jpeg" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for gil.dev"
      href="/rss.xml"
    />
    <ViewTransitions />
  </head>
  <body class:list={["mx-auto", isPost ? "max-w-3xl" : "max-w-7xl"]}>
    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <header
      class:list={[
        "flex flex-col md:flex-row px-2 w-screen items-center justify-center",
        isPost ? "max-w-3xl" : "max-w-7xl",
      ]}
    >
      <a href="/">
        <img
          id="avatar"
          transition:name="avatar"
          src={avatar.src}
          alt="Photo of Gil Creque in a pink TV"
          height="100px"
          width="100px"
          class="rounded-full"
        />
      </a>
      <h1 class="grow text-center">
        <img
          src="/img/microblog.svg"
          width="24px"
          height="24px"
          class="inline"
          alt="Micro.blog Icon"
        />{" "}
        <WiggleWrap>{title || frontmatter.title}</WiggleWrap>
      </h1>
    </header>
    <main class:list={["px-2 w-screen", isPost ? "max-w-3xl" : "max-w-7xl"]}>
      <slot />
      <!-- your content is injected here -->
    </main>

    <Footer />
  </body><!-- End Document
    ––––––––––––––––––––––––––––––––––––––––––––––––––
-->
</html>
